@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

/* Add custom utilities here... */

a {
    color: #6CB88B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-vue {
    color: #6CB88B;
}